body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 14px;
    background-color: #f4f4f4;
    font-size: 12px;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 36px;
    padding: 4px;
    color: #F2404E;
	line-height: 1; /* Reduz o espaçamento interno entre as linhas */
	margin-bottom: 0; /* Remove o espaço extra abaixo */


}

h2 {
    text-align: left;
    font-size: 16px;
    color: #333;
}

h3 {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    color: #666;
    margin-top: 4px; /* Aproxima o texto do título */
    margin-bottom: 10px; /* Afasta o texto da próxima seção */
	font-weight: normal;
}

main {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #F2404E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #CC2E3B;
}

button:focus {
    outline: 2px solid #F2404E;
    outline-offset: 2px;
}

#resultado {
    display: none;
    margin-top: 8px;
    padding: 8px;
    background-color: #F2404E;
    border-radius: 8px;
    text-align: center;
}

p {
    margin: 5px 0;
    color: white;
	font-size: 12px;
}

.campo-medidas {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

select, input {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

select:focus, input:focus {
    border-color: #F2404E;
    outline: none;
    box-shadow: 0 0 5px rgba(242, 64, 78, 0.5);
}
